node_modules/
.env
.env.*
!.env.example
data_test/
*.log
*.token.json
credentials.json
data/facturas/*
!data/facturas/.gitkeep
data/documentos/*
!data/documentos/.gitkeep
data/media/qr/*
!data/media/qr/.gitkeep
